$theme-color: #366092;

$bg-color: #f0ede8;

$white-basic: #fff;

$link-hover: #B8b8b8;

$font-basic: #555;

$dark-theme: #104E8B;

$bg-color-peopleInfo-1: #E0E0E0;

$bg-color-peopleInfo-2: black;

$bg-color-peopleInfo-3: $theme-color;