@import "color";
.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    overflow: scroll;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}