
$medium-screen: (min-width: 1169px) and (max-width:1249px);
$large-screen: (min-width:1250px);
$small-2-screen: (min-width: 769px) and (max-width: 976px);
$small-3-screen: (min-width: 480px) and (max-width: 768px);
$small-1-screen: (min-width: 975px) and (max-width: 991px);
$small-0-screen: (min-width: 992px) and (max-width: 1168px);
$device-screen: (max-width: 480px);
